/* style.css */
body {
  background-image: url('img/background3.jpg');
  background-size: cover;
  font-family: "Helvetica Neue", sans-serif;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #27534e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  width: 700px;
  background-color: #163834;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.chat-box {
  height: 450px;
  overflow-y: auto;
  border: 1px solid #10291e;
  background-color: #1b4d45;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.chat-box p {
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #2e6a5e;
  margin-bottom: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #163834;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.profile-tab {
  display: flex;
  align-items: center;
}

.profile-tab img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-tab .profile-name {
  font-weight: bold;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #10291e;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #ffffff;
}

button {
  padding: 10px 20px;
  background-color: #27534e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #1e443e;
}
